modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 80
externalPort = 8000

[[ports]]
localPort = 2322

[[ports]]
localPort = 3000
externalPort = 8008

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 43181827
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
